@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Marsden";
  src: url("../public/Fonts/Marsden-Light.ttf") format("truetype"),
    url("../public/Fonts/Marsden-Light.woff") format("woff"),
    url("../public/Fonts/Marsden-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Marsden";
  src: url("../public/Fonts/Marsden-Regular.ttf") format("truetype"),
    url("../public/Fonts/Marsden-Regular.woff") format("woff"),
    url("../public/Fonts/Marsden-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Marsden";
  src: url("../public/Fonts/Marsden-SemiBold.ttf") format("truetype"),
    url("../public/Fonts/Marsden-SemiBold.woff") format("woff"),
    url("../public/Fonts/Marsden-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: semibold;
}

@font-face {
  font-family: "Marsden";
  src: url("../public/Fonts/Marsden-Medium.ttf") format("truetype"),
    url("../public/Fonts/Marsden-Medium.woff") format("woff"),
    url("../public/Fonts/Marsden-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Marsden";
  src: url("../public/Fonts/Marsden-Bold.ttf") format("truetype"),
    url("../public/Fonts/Marsden-Bold.woff") format("woff"),
    url("../public/Fonts/Marsden-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

/* Custom CSS for code blocks */
pre {
  background-color: white;
  color: black;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  padding: 1em;
  margin: 35px 0;
  overflow: auto;
}

code {
  color: black;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

#scroll-hide::-webkit-scrollbar {
  display: none;
}

#scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* For Webkit Browsers */
::-webkit-scrollbar {
  width: 12px;
  margin-left: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #8b99b9; /* Color of the thumb */
  border-radius: 5px; /* Set the border-radius to make it rounded */

}

::-webkit-scrollbar-track {
  background-color: #264b78; /* Color of the track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8b99b9; /* Color of the thumb on hover */
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-90%);
  }
}

#logo-slide{
  animation : slide 25s linear infinite;
}